*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}


body {
    background-color: black;
}

.head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 7%;
    background: #171717;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.navbar{
    display:flex;
    margin-right: 10%; 
}

.navbar a {
    display: block;
    padding: 3% 20px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    font-weight: 700;
}

.navbar a:hover {
    background: rgba(128, 128, 128, 0.568);
}

/*primera imagen - Inicio*/

header {
    height: 100vh !important;
    background: url(fondol.jpg) no-repeat center fixed;
    background-size: 100%;
}
/*seccion 1 - Presentacion*/

#presentacion {
    background:  center 100% 50% no-repeat;
    background-color: black;
    margin-top: -4%;
}

#titulo1 {
    margin-top: 5%;
    margin-bottom: -1%;
    font-size: 350%;
    font-weight: 550;
    text-transform: uppercase;
    color: rgba(238, 233, 233, 0.801);
    text-shadow: #664444 2px 2px 2px;
    text-align: center;
}

#presentacion p {
        margin-top: 4%;
        margin-bottom: 70px;
        font-size: 110%;
        color:darkgrey;
        padding: 1px 30px;
        text-align: center;
    }

    em {
        font-weight: 950;
    }

/*seccion 2 - Galeria*/

#galeria {
    margin-top: 7%;
    margin-bottom: 0%;
    height: 100%;
    background:  center 100% 100%;
    background: url(guitarras.jpg) no-repeat center fixed;
    background-size: 100%;

}

.titulo2 {
    font-size: 370%;
    font-weight: 700;
    text-transform: uppercase;
    color: rgba(255, 0, 0, 0.864);
    text-shadow: #ffffffe6 5px 2px 5px;
    text-align: center;
    

}

iframe{
    margin-left: 4.3%;
    margin-right: -1%;
    margin-top: 5%;
    margin-bottom: 20%;
    width: 20%;
    height: 20%;

}

/*seccion 3 - contacto*/
#contacto {
    background:  center 100% 80%;
    background-color: darkgray;
    margin-top: -15%;
    margin-bottom: 0%;

}

.titulo3 {
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 350%;
    font-weight: 550;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.801);
    text-shadow: #555353 2px 2px 2px;
    text-align: center;
}

    /*iconos redes sociales y boton contact me*/

    table{
        border: 3px;
        height: 62px;
        width: 250px;
        margin-top: -1%;
    }
    
    .insta{
        background: url(https://www.svgrepo.com/show/424911/instagram-logo-facebook-2.svg) no-repeat center center;
        background-size:cover;
        width: 4px;
        cursor: pointer;
    }
    
    .facebook{
        background: url(https://www.svgrepo.com/show/473600/facebook.svg) no-repeat center center;
        width: 4px;
        background-size: cover;
        cursor: pointer;
    }
    
    .youtube{
        background: url(https://www.svgrepo.com/show/513089/youtube-168.svg) no-repeat center center;
        width: 4px;
        background-size: cover;
        cursor: pointer;
    }

    .spotify{
        background: url(https://www.svgrepo.com/show/346391/spotify-fill.svg) no-repeat center center;
        width: 4px;
        background-size: cover;
        cursor: pointer;
    }
    
    .btn{
        outline: none;
        background-color: rgba(88, 60, 60, 0.527);
        margin-top: 40px;
        margin-bottom: 3%;
        border: none;
        height: 40px;
        width: 30%;
        font-size: 16px;
        font-weight: bold;
        border-radius: 30px;
        color: darkgray;
    }
    
    .btn:hover{
        background-color: rgba(59, 59, 59, 0.226);
        cursor: pointer;
    }
/*pie de pagina - footer*/

footer{
    background: #000000 100% 5% no-repeat;
    color: #555353;
    text-align: right;
}

footer:hover{
    background-color: #5553533b;
    cursor: pointer;
}
 
/*adaptacion a disp. moviles*/

@media only screen and (max-width: 768px) {
    body {
    margin: 2% 2% ;
    border: 0;
    vertical-align: baseline;
    }
    #titulo1 {
        font-size: 200%;
    }
    .titulo2 {
        font-size: 200%;
    }
    .titulo3 {
        font-size: 200%;
    }
    #presentacion p {
        font-size: 80%;
    }
    iframe{
        margin-left: 25%;
        margin-top: 5%;
        margin-bottom: 20%;
        width: 50%; 
        height: 50%;
    }
    